* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: rgba(255, 166, 0, 0.877);
}

img {
  width: 30%;
  margin-left: 30%;
}

h1 {
  color: aliceblue;
  font-weight: 800;
  margin-left: 35%;
}
h2 {
  margin-left: 40%;
  font-weight: bolder;
  font-size: xx-large;
}
button {
  padding: 1.5% 10%;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 5%;
  cursor: pointer;
  margin-left: 30%;
  background: #28e476;
}

button a {
  color: black;
  text-decoration: none;
}
#title{
  font-size: large;
  font-weight: 800;
  margin-left: 40%;

}
@media screen  and (max-width: 420px) {
  .img {
    width: 80%;
    margin-left: 5%;
  }
  pre{
    font-size: 30px;
    margin-left: 30%;
  }
  h5{
    margin-top: -30%;
  }
}
